/* Font description */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common-style-font */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    margin-bottom: 100%; 
}
.container{
    
}
.section-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    background-color: #562EFF;
    display: flex;
    align-items: center;
height: 650px;

}
 .section-title-button{
    margin-left: 156px;
    margin-top: 220px;  
} 
.section-title{
font-weight: bold;
font-size: 64px;
width: 485px;
height: 230px;
color: yellow;
/* color: #FFFFFF; */
}
.section-button{
    margin-top: 45px;
    margin-bottom: 169px;
}
.button{    
width: 168px;
height: 44px;
padding: 10px 24px;
background: #E02C6D;
text-decoration: none;
margin-top: 45px;
 }
 .banner{
     margin-top: 153px;
     margin-bottom: 86px;
     margin-left: 140.99px;
 }
 .banner img{
    width: 556.01px;
    height: 438px;
 }
 .section-container  .banner:hover{
    transform: scale(1.5) skew(-360deg);
    transition: transform 2s ease-in-out;
 }
 
.section-container .section-title-button:hover{
    transform: scale(1.5) skew(-360deg);
    transition: transform 2s ease-in-out; 
}
 

 /* Player blogs */
 .container .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px;
    width: 1050px;
    height: 1000px;
    margin-top:0px;
    margin-left: 195px;

}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   margin-top: 70px;    
}
.player .player-image img{
    width: 330px;
    height: 240px;
}
/* Horizontal line */
hr{
    border: 2px solid #562EFF;
    width: 600px;
}
/* footer
 */
 
 .footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
 }
 
 .footer img{
     width: 400px;
     height: 120px;
     margin-right: 110px;
 }

 /* css media query */
 /* for mobile version */
 @media only screen and(max-width:688px){
    .players{
        background-color: chocolate;
    }
    .section-container, .footer{
        display: none;
    }
}