/* Font description */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common-style-font */
body{
    font-family: 'Poppins', sans-serif;
}

.section-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    background-color: #562EFF;
    display: flex;
    align-items: center;


}
.section-title-button{
    margin-left: 156px;
    margin-top: 207px;  
}
.section-title{
font-weight: bold;
font-size: 64px;
width: 485px;
height: 230px;
color: yellow;
/* color: #FFFFFF; */
}
.section-button{
    margin-top: 45px;
    margin-bottom: 151px;
}
.button{    
width: 168px;
height: 44px;
padding: 10px 24px;
background: #E02C6D;
text-decoration: none;
margin-top: 45px;
 }
 .banner{
     margin-top: 153px;
     margin-bottom: 86px;
     margin-left: 140.99px;
 }
 .banner img{
    width: 556.01px;
    height: 438px;
 }
 .section-container:hover .section-title-button{
    display: block;
    transform: scale(1) skew(10deg);
    transition: transform 2s ease-in-out;
 }
 .section-container:hover .banner img{
    transform: scale(1.5) skew(-360deg);
    transition: transform 2s ease-in-out;
 }
 /* Player blogs */
 .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px;
    width: 1050px;
    height: 474px;
    margin-top: 70px;
    margin-bottom:70px ;
    margin-left: 195px;

}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   margin-top: 70px;    
}
.player .player-image img{
    width: 330px;
    height: 240px;
}
/* section3
 */
 .section-3{
    display: flex;
    align-items: center;

 }
 .section-3 .logo-image img{
    width: 483.87px;
    height: 213px;

 }